/****************************************/
/****************************************/
/***************** ROOT *****************/
/****************************************/
/****************************************/

:root {
    --bg1: #F3F3F5;
    --bg2: #000000;
    --color1: #000000;
    --color2: #F3F3F5;
    --primary_police: "Inter", sans-serif;
}

/****************************************/
/****************************************/
/***************** BASE *****************/
/****************************************/
/****************************************/

body {
    background-color: var(--bg1);
    font-size: 16px;
    font-family: var(--primary_police);
    margin: 0;
}

main {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/****************************************/
/****************************************/
/************** COMPONENTS **************/
/****************************************/
/****************************************/




/****************************************/
/****************************************/
/***************** STYLES ***************/
/****************************************/
/****************************************/

/****************************************/
/***************** ABOUT ****************/
/****************************************/


/****************************************/
/*************** PROJECTS ***************/
/****************************************/

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1rem;
}

.projects {
    width: 100vw;
    padding: 2rem 0;
    background-color: var(--bg2);
    color: var(--color2);
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

/****************************************/
/**************** CONTACT ***************/
/****************************************/



/****************************************/
/****************************************/
/**************** PARTIALS **************/
/****************************************/
/****************************************/

/***************** HEADER *****************/

.logo {
    width: 10%;
}

.menu {
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/***************** FOOTER *****************/

footer {
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}